
.consultarContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2ch;
  gap: 1rem;  
}

.consultarHeader {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 8px;
  text-underline-offset: 5px;
  text-decoration-color: var(--blue);

}