

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filters {
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3ch;
  background-color: var(--grid-item-color);
  padding: 0.8rem;
  border-radius: 11px;
  border: 1px solid rgb(214, 214, 214);
  width: 100%;
  align-items: center;
  justify-content: center;
}


.pageSelectorContainer {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  align-items: center;
  width: 100%;
}

.pageSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pageSelector input {
  width: 5rem;
  font-size: 1.5rem;
  text-align: center;
}

.pageButton{
  font-family: "Material Icons";
  content: 'last_page';
  border: 0;
  font-size: 2rem;
  background-color: rgba(240, 248, 255, 0);
  cursor: pointer;
}

.pageInfo {
  font-style: italic;
  padding: .5rem;
  margin-right: auto;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: .5ch;
  border-left: 2px solid gray;
}


.filterInputs {
  display: flex;
  border-radius: 10px;
  flex-wrap: wrap;
  gap: 1rem;

  
}

.fieldset {
  display: flex;
  flex-direction: column;
  border: 0px;
  padding: 0;

}


.fieldsetInputs {
  display: flex;
  flex-direction: row;
  gap: 2ch;
}


.fieldsetHeader {
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: 2px solid gray;
  margin-bottom: 1rem;
}

.input {
  display: flex;
  flex-direction: column-reverse;
}

.input input {
  border: 1px solid rgb(83, 83, 83);
  border-radius: 5px;
  font-size: 1rem;
}

.input label {
  font-size: 0.8rem;
  font-style: italic;
}

.checkBoxList {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
  column-gap: 1rem;
  row-gap: 0rem;

}

.checkBox {
  display: flex;
  align-items: center;
  font-size: 1rem;
}



.input input:is(:hover, :focus) {
  background-color: var(--grid-item-hover-color);
} 

.input input:focus {
  border-color: black;
  outline: none;
}

/*@media (1280px<=width) {
  .filters {
      grid-template-columns: 1fr 1fr 1fr 1fr
  
  }
}

@media (1000px<=width<=1280px) {
  .filters {
      grid-template-columns: 1fr 1fr 1fr
  
  }
}

@media (600px<=width<=1000px) {
  .filters {
      grid-template-columns: 1fr 1fr
  
  }
}*/


@media (orientation: portrait) {
  .filters {
      display: flex;
      flex-direction: column;
      width: 100%;
  
  }

  .checkBoxList {
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: row;
      column-gap: 1rem;
      row-gap: 0rem;
  }
}
