:root {
  --headerColor: rgba(228, 255, 236, 0.938);
}


.resultScreen {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0rem;
  height: 100%;
  width: 100%;


}

.table {
  table-layout: fixed;

  border-spacing: 0;
  width: 100%;
  border-top: 2px solid rgb(170, 170, 170);


}

.table caption {
  display: none;
}


/*Header*/
.tableHeader {
  font-size: 1rem;
  font-style: oblique;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: start;
}

.cellHeader{
  position: sticky;
  top: 0px;
  background-color: var(--headerColor);
  border-right: 1px solid gray;
  border-bottom: 1px groove gray;
  font-style: normal;

  padding-top: 0rem;
  padding-bottom: 0rem;
  padding: 0;
}

.sortingButton {
  width: 100%;
  height: 100%;
  background-color: var(--headerColor);
  border-right-color: rgb(3, 104, 0);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 0px;
  font-size: 1rem;
  font-weight: bold;
  text-align: start;
  cursor: pointer;
  display: flex;
  align-items: center;

}

.sortingButton::after {
  font-family: 'Material Icons';
  content: 'swap_vert';
  margin-left: auto;
}




.cellHeader:first-of-type {
  width: 5%;
}

.cellHeader:last-of-type {
  width: 10%;
  text-wrap: wrap;
  overflow-x: hidden
}

.sorted {
  background-color: rgb(0, 183, 255);
}

.sortingButton.sorted.ascSort::after {
  font-family: 'Material Icons';
  font-size: 1rem;
  content: 'arrow_drop_down';
  margin-left: auto;
}

.sortingButton.sorted.descSort::after {
  font-size: 1rem;

  font-family: 'Material Icons';
  content: 'arrow_drop_up';
  margin-left: auto;
}

/*Cells*/

.cell{
  border-right: 1px solid rgb(185, 185, 185);
  background-color: rgb(255, 255, 255);
  transition-property: background-color;
  transition-duration: 100ms;
  padding: .5rem;

  text-align: left;
  word-wrap: break-word;
}

.cell:last-of-type{
  text-align: center;
  

}

.cell:first-of-type{
  width: 3rem
}





.row:nth-child(even) .cell{
  background-color: rgb(218, 218, 218);
}

.row:hover .cell {
  background-color: var(--grid-item-hover-color);
}

.actionButtonList {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  gap: 0.5rem;

}

@media (orientation: portrait) {
  .consultarContainer{
      align-items: center
  };
}
